<div>
  <div class="dropdown">
    <button attr.aria-label="{{ 'ACCESIBILITY.LANGUAGES_MENU' | translate }}" (click)="toggleDropdown()"
      class="dropbtn">
      <img src="../../assets/images/language-icon.svg" alt="Icone traduction de langues">
      <div id="language"> {{ 'LANGUAGE.MENU'|translate}}</div>
    </button>
    <div id="myDropdown" class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen }">
      <a *ngFor="let i of countries" [attr.aria-label]="i.getCountry_name()" (click)="OnChangeLang(i.getCountry_code())"
        href="#"> <img src="{{i.getCountry_flag()}}" alt="Drapeau français">{{i.getCountry_name()}}</a>
    </div>
  </div>
</div>