/* Style du bouton */
.dropbtn {
  position: relative;


  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  padding: 12px;
  padding-right: 0;
  font-size: small;
  border: none;
  cursor: pointer;
}

li {
  margin-inline: 10%;
}

.dropbtn img {
  height: auto;
}

/* Style de la div qui contient le menu déroulant */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style du menu déroulant */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Style des liens dans le menu déroulant */
.dropdown-content a {
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  padding-block: 5px;
  padding-right: 1.5rem;
  text-decoration: none;
  display: block;
}

/* Style des liens lorsque l'on passe la souris dessus */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Style de l'image dans les liens */
.dropdown-content img {
  height: 16px;
  margin-right: 8px;
  display: block;
}

/* Affiche le menu déroulant lorsque l'on clique sur le bouton */
.show {
  display: block;
}

#myDropdown a {
  padding: right 100%;
}

#language {
  width: 4rem;
}